---
title: PC Build
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
		{% include meta.html %}
    </head>

    <body>

		{% include header.html %}

        <!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
		  <section id="main_content" class="inner">
			<a href="https://pcpartpicker.com/list/cQqzJV">PCPartPicker part list</a> / <a href="https://pcpartpicker.com/list/cQqzJV/by_merchant/">Price breakdown by merchant</a>
				<table class="pcpp-part-list">
				  <thead>
					<tr>
					  <th>Type</th>
					  <th>Item</th>
					  <th>Price</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td class="pcpp-part-list-type">CPU</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/YjmLrH/amd-cpu-ad680kwohlbox">AMD - A10-6800K 4.1GHz Quad-Core Processor</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Motherboard</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/JPtCmG/asus-motherboard-f2a85m2">Asus - F2A85-M2 Micro ATX FM2 Motherboard</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Memory</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/76kD4D/corsair-memory-cmz8gx3m2b1600c9g">Corsair - Vengeance 8GB (2 x 4GB) DDR3-1600 Memory</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Storage</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/dCxfrH/seagate-internal-hard-drive-st1000dm003">Seagate - Barracuda 1TB 3.5" 7200RPM Internal Hard Drive</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Video Card</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/Dw4NnQ/gigabyte-geforce-gtx-1050-ti-4gb-oc-low-profile-video-card-gv-n105toc-4gl">Gigabyte - GeForce GTX 1050 Ti 4GB OC Low Profile Video Card</a></td>
					  <td class="pcpp-part-list-price">
						<a href="https://pcpartpicker.com/product/Dw4NnQ/gigabyte-geforce-gtx-1050-ti-4gb-oc-low-profile-video-card-gv-n105toc-4gl">$158.99 @ SuperBiiz</a>
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Case</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/NJ6BD3/apevia-case-xhermesbl">Apevia - X-HERMES-BL ATX Mid Tower Case</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Sound Card</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/f4zv6h/creative-labs-sound-card-30sb057000000">Creative Labs - Audigy SE 24-bit 96 KHz Sound Card</a></td>
					  <td class="pcpp-part-list-price">
						<a href="https://pcpartpicker.com/product/f4zv6h/creative-labs-sound-card-30sb057000000">$29.99 @ Newegg Marketplace</a>
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Wireless Network Adapter</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/RZNp99/asus-wireless-network-card-pcen15">Asus - PCE-N15 PCI-Express x1 802.11b/g/n Wi-Fi Adapter</a></td>
					  <td class="pcpp-part-list-price">
						Already Owned
					  </td>
					</tr>
					<tr>
					  <td class="pcpp-part-list-type">Monitor</td>
					  <td class="pcpp-part-list-item"><a href="https://pcpartpicker.com/product/LJrG3C/asus-monitor-vs247hp">Asus - VS247H-P 23.6" 1920x1080 Monitor</a></td>
					  <td class="pcpp-part-list-price">
						<a href="https://pcpartpicker.com/product/LJrG3C/asus-monitor-vs247hp">$129.99 @ Amazon</a>
					  </td>
					</tr>
					<tr>
					  <td></td>
					  <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
					  <td></td>
					</tr>
					<tr>
					  <td></td>
					  <td class="pcpp-part-list-total">Total</td>
					  <td class="pcpp-part-list-total-price">$318.97</td>
					</tr>
					<tr>
					  <td></td>
					  <td class="pcpp-part-list-price-note">Generated by <a href="http://pcpartpicker.com">PCPartPicker</a> 2017-10-12 21:14 EDT-0400</td>
					  <td></td>
					</tr>
				  </tbody>
				</table>
		  </section>
		</div>

		{% include footer.html %}
    </body>
</html>
