---
title: Resume
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
		{% include meta.html %}
		
		<style>
			.container {
				display:flex;
				flex-flow: row;
			}
		</style>
    </head>

    <body>

		{% include header.html %}

        <!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				<h1>Contact</h1>
				607-761-9232
				<br/>
				JamesHaller27@gmail.com
				<br/>
				<a href="LinkedIn.com/in/James-Haller-838a9974"><b>LinkedIn</b>.com/in/James-Haller-838a9974</a>
				
				<h1>Objective</h1>
				<p>To obtain an internship in the field of computer programming and software development. Available May – August 2018.</p>
			</section>
		</div>

		{% include footer.html %}
    </body>
</html>
