main {
	& h1 {
		font-size: var(--font-size-2);
	}

	& h2 {
		font-size: var(--font-size-3);
	}

	& h3 {
		font-size: var(--font-size-3);
		font-weight: normal;
	}

	& .big-item--header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		padding-inline: 1rem;
		border-radius: 4px;
		margin-block: 1rem;

		background-color: var(--color-2-bg);
		color: var(--color-2-fg);
	}

	& .big-item--header > * {
		margin-block: auto;
	}

	& section#academics ul {
		& span {
			display: block;
		}

		& span.school {
			font-weight: bold;
			font-size: var(--font-size-3);
		}
	}

	& div.split {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	section#honors span.org {
		display: block;
		color: var(--color-1-fg-subtle);
		font-style: italic;
	}
}