main {
	& h1 {
		font-size: var(--font-size-2);
	}

	& h2 {
		font-size: var(--font-size-3);
	}

	& h3 {
		font-size: var(--font-size-3);
		font-weight: normal;
	}

	& .big-item--header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		padding-inline: 1rem;
		border-radius: 4px;
		margin-block: 1rem;

		background-color: var(--color-2-bg);
		color: var(--color-2-fg);

		& > * {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			padding-block: 1em;
		}

		& > * > * {
			margin: 0;
		}
	}

	& section#academics ul {
		& span {
			display: block;
		}

		& span.school {
			font-weight: bold;
			font-size: var(--font-size-3);
		}
	}

	& div.split {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}